# Flask configuration
SECRET_KEY=your_secret_key
JWT_SECRET_KEY=your_jwt_secret_key
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
FLASK_DEBUG=true
SECURITY_PASSWORD_SALT=your_security_password_salt
# Google Cloud SQL PostgreSQL configuration
CLOUDSQL_DB_NAME=your_database_name
CLOUDSQL_USERNAME=your_database_username
CLOUDSQL_PASSWORD=your_database_password
CLOUDSQL_HOST=your_cloudsql_host
CLOUDSQL_PORT=5432
CLOUDSQL_INSTANCE_CONNECTION_NAME=your-project:your-region:your-instance-name

# Mail server configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_DEFAULT_SENDER=your_email@example.com

# OAuth configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Frontend base URL
BASE_URL=http://localhost:4200

# Password reset base URL
RESET_PASSWORD_BASE_URL=http://localhost:3000/reset_password/


# Google Cloud Storage configuration (alternative to AWS S3)
GCS_BUCKET_NAME=your_gcs_bucket_name
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-key.json

